@charset "UTF-8";

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #cccccc;
    width: 100%;
    height: 100%;
  }

.cool-h1{
    font-size: 18pt;
}

.cool-h2{
    font-size: 14pt;
}

.linkForte, .linkForte:hover{
    font-weight: bold;
    text-decoration-line: none;
}

.cool-p{
    text-indent: 25px;
    text-align: justify;
}

.bg-img{
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.card-image-box{
    max-height: 200px;
    object-fit: cover;
    object-position: 50%;
    background-color: rgb(35, 35, 35);
    transition: all .5s ease-in-out;
}

.card-image-box:hover{
    object-fit: scale-down;
    border-color: rgb(0, 162, 255);
}

.darkbg-hover{
    background-color: rgb(20, 20, 20);
    color: white;
}

/*.containerGrid{
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 10vh 82vh 8vh;

    grid-template-areas: "nav"
                         "main"
                         "footer";
}

.containerGrid > nav{
    grid-area: nav;
}
.containerGrid > main{
    grid-area: main;
}
.containerGrid > footer{
    grid-area: footer;
    align-items: center;
}*/