@charset "UTF-8";

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #cccccc;
    width: 100%;
    height: 100%;
  }

.linkForte{
    font-weight: bold;
}

.opacidade{
    opacity: 0.2;
}

.bg-img{
    background: url('../_media/imagens/backgrounds/01-indexBG.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

/*.containerGrid{
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 10vh 82vh 8vh;

    grid-template-areas: "nav"
                         "main"
                         "footer";
}

.containerGrid > nav{
    grid-area: nav;
}
.containerGrid > main{
    grid-area: main;
}
.containerGrid > footer{
    grid-area: footer;
    align-items: center;
}*/